name: Deploy to Surge
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Surge
        run: npm install -g surge

      - name: Deploy to Surge
        run: surge ./ --domain TU-DOMINIO-UNICO.surge.sh
        env:
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}